<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body id="page-top">
    {% include header.html %}
    <div class="container">
      <div class="row">
        <div class="col-lg-3 hidden-md-down">
          <div class="card card-block" id="sidebar-menu">
            <ul class="list-unstyled main-menu nav nav-stacked">
              <li id="overview-menu">
                <a href="{{site.baseurl}}/docs/overview/">
                  Overview
                </a>
              </li>
              {% for docs in site.docs %}{% unless docs.short == "overview" %}
                <li id="{{docs.short}}-menu">
                  <a href="{{site.baseurl}}{{docs.url}}">
                    {{docs.title}}
                  </a>
                </li>
              {% endunless %}{% endfor %}
              <hr />
              <li>
                <a href="#page-top">Back to top</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-9 col-md-12" id="static-content">
          <h1 id="{{page.short}}" class="page-id">{{page.title}}</h1>
          {% if page.author %}
          <p class="lead">
            {% assign author = site.data.authors[page.author] %}
            This page was written by <a href="{{ author.site }}">{{ author.name }}</a>.
            </br>
            {{ author.desc }}
          </p>
          {% endif %}
          {{ content }}
        </div>
      </div>
    </div>
    {% include footer.html %}
    <script src="{{site.baseurl}}/js/sidebar.js"></script>
  </body>

</html>
